<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springbootmybatis.dao.UserMapper">
    <resultMap id="UserResultMap" type="com.example.springbootmybatis.entity.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
    </resultMap>
    <!-- 定义SQL语句 -->
    <select id="selectUserList" resultMap="UserResultMap">
    	SELECT * FROM t_user
    </select>
    <insert id="insertUser" parameterType="com.example.springbootmybatis.entity.User">
        INSERT INTO t_user(name,age,phone) values (#{name}, #{age}, #{phone})
    </insert>
    <update id="updateUser" parameterType="com.example.springbootmybatis.entity.User">
        update t_user set name = #{name},age = #{age}, phone = #{phone} WHERE id = #{id}
    </update>
    <delete id="deleteUser" parameterType="com.example.springbootmybatis.entity.User">
        DELETE FROM t_user WHERE id = #{id}
    </delete>
    <select id="selectById" resultType="com.example.springbootmybatis.entity.User" parameterType="java.lang.Integer">
    	SELECT * FROM t_user where id = #{id}
    </select>
</mapper>